
            .byline {
                text-align: center;
            }
            p {
                text-align: left;
                font-size: 15
            }
            .article{
                border: 1px solid blue;;
                height: 100px;
            }
            .footer{
                display: inline-block;
                border: 1px solid yellow;
                height: 300px;
                width: 640px;
                color: red;
            }

